/* RESET START */ 
   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Rubik:wght@400;700&display=swap');
*,
*::before,
*::after {
   box-sizing: border-box;
}

ul[class],
ol[class] {
   padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
   margin: 0;
}

body {
   min-height: 100vh;
   scroll-behavior: smooth;
   text-rendering: optimizeSpeed;
   line-height: 1.5;
}

ul[class],
ol[class] {
   list-style: none;
}

a:not([class]) {
   text-decoration-skip-ink: auto;
}

img {
   max-width: 100%;

}

article > * + * {
   margin-top: 1em;
}

input,
button,
textarea,
select {
   font: inherit;
   cursor: pointer;
}

/* RESET END */ 

/* BODY START */

* {
   background: #DBD8D1;
   box-sizing: border-box;
   font-family: poppins;
}

body {
   width: 100%;
   min-height: 100vh;
}

.wrapper {
   padding: 3% 8%;
   margin: 0 auto;
}

/* BODY END */

/* HEADEER START */

.header__title {
   font-size: 40px;
   text-align: center;
   margin-bottom: 3%;
}

/* HEADER END */

/* MAIN START */

.cssbayan {
   padding: 2%;
   border: #003057 4px solid;
   border-radius: 25px;
}

.bayan {
   width: 100%;
   margin: 0 auto;
   padding-top: 1.5%;
}

.bayan:not(:last-child) {
   border-bottom: .1rem solid black;
}

.input {
   appearance: none;
   -webkit-appearance: none;
   width: 0;
   height: 0;
}

.label {
   align-items: center;
   padding: 0.3% 1.5%;
   display: flex;
   justify-content: space-between;
}

.bayan__title {
   font-size: 4rem;
   font-weight: 600;
   transition: all .7s ease 0s;
}

.button {
   transition: all .7s ease 0s;
}

.label-meme {
   display: block;
   text-align: center;
}

.meme {
   width: 0;
   height: 0;
   text-align: center;
   margin-bottom: 1%;
   transition: all .7s ease 0s;
}

.input:checked~label .meme {
   width: 35%;
   height: 35%;
}

@media (hover:hover) {
   .bayan__title {
      color: #003057;
   }

   .main:hover .bayan__title {
      color: black;
   }

   .input:checked~label .bayan__title {
      color: black;
   }

   .input:checked~label .button {
      transform: rotate(45deg);
   }

   .input:checked~label .meme {
      opacity: 1;
   }

   .main:hover .button {
      width: 1.5rem;
      height: 1.5rem;
      background-image: url('./meme/plus.svg');
      background-size: 1.5rem 1.5rem;
      background-position: center;
      background-repeat: no-repeat;
      transition: all .8s ease 0s;
   }

   .bayan:hover .meme {
      width: 30%;
      height: 30%;
   }

   .bayan:hover .button {
      transform: rotate(225deg);
   }

   .bayan:active .meme {
      opacity: .5;
   }

   .bayan:active .bayan__title {
      color: #003057;
   }

   .bayan:active .button {
      background-image: url('./assets/icons/button-blue.svg');
   }
}

/* ADAPTATION START */

@media (max-width:1920px) {
   .title {
      font-size: 3rem;
   }

   .bayan__title {
      font-size: 2rem;
   }
}

@media (max-width:1200px) {
   .title {
      font-size: 3rem;
   }

   .bayan__title {
      font-size: 2rem;
   }

   .input:checked~label .meme {
      width: 40%;
      height: 40%;
   }
}

@media (max-width:820px) {
   .title {
      font-size: 2rem;
   }

   .bayan__title {
      font-size: 1.5rem;
   }

   .input:checked~label .meme {
      width: 60%;
      height: 60%;
   }
}

@media (max-width:320px) {
   .title {
      font-size: 1.5rem;
   }

   .bayan__title {
      font-size: 1rem;
   }

   .input:checked~label .meme {
      width: 70%;
      height: 70%;
   }
}

/* ADAPTATION END */

